.footer {
    background-color: black;
    border: 1px solid #ddd;
    position: relative;
  }
  
  .containerMain {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 64px; 
    padding-bottom: 16px; 
  }
  .custom-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr); 
    gap: 32px; 
  }
  .custom-grid2{
    width: fit-content;
    margin-top: 3.5rem;
    grid-column: span 2 / span 2;
  }

 .heading {
    font-size: 1.25rem; 
    font-weight: bold;  
    color: white;       
  }

  .para1{
    margin-top: 1rem;
    color: white;
  }
  .form-con {
    grid-column: span 2 / span 2;
    margin-bottom: 13rem; 
    width: fit-content;
  }
  .form {
    width: 36em;
    margin-top: 2em;
  }
  .email{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
 
  .emlbtnDiv>input{
    width: 100%;
    padding-left: 24px;
    height: 48px;
    border: none;
  }
  .emlbtnDiv>button{
    margin-top: 4px;
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    border:  1px solid;
    padding: 8px 56px 8px 56px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: lighter;
    letter-spacing: 0.025em;
    color: white;
  }
  .contact-us{
    grid-column: span 2 / span 2;

  }
  .para4{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: white;
  }
  .ul1{
    margin-top: 16px;
    font-size: 18px;
    line-height: 28px;
    font-weight: lighter;
  }
  .ul1>li>a{
    color: white;
    transition: all 0.3s;

  }
  .ul1>li>a:hover{
    opacity: 0.75;
  }

  .currency{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: white;
    margin-top: 20px;

  }
  .currency+div{
    display: flex;
    width: fit-content;
    align-items: center;
    margin-top: 12px;
  }
  .usd{
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }
  .link{
    margin-top: 8px;
    font-weight: lighter;
  }
  .link>li>a{
    color: white;
    font-size: 12px;

  }
  .hr3{
    position: absolute;
    width: 75%;
    bottom: 445px;
  }

  .iconsCon {
    display: flex;
    gap: 12px; 
    margin-top: 24px;
  }
  
  .icon-wrapper {
    border: 1px solid white;
    padding: 6px; 
    border-radius: 50px;
  }
  
  .icons01 {
    height: 20px; 
    width: 20px;
    color: white;
  }
  
  .custom-text2 {
    font-size: 1.25rem;
    font-weight: 700;   
    color: #ffffff;     
    margin-top: 3.5rem;
  }
  
  .payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    gap: .2em;
  }
  
  .payment-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc; 
    background-color: white;
    height: 32px; 
    width: 56px; 
    border-radius: 5px;
  }
  
  .footer2 {
     padding-top: 2rem;
  }
  
  .copyright {
    font-size: 0.875rem; 
    text-align: center; 
    color: #ffffff; 
  }
  
  /* sm: */
  @media (min-width: 640px) {
    .containerMain {
      padding-left: 24px; 
      padding-right: 24px; 
    }
    .emlbtnDiv {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .emlbtnDiv>input{
      font-size: 14px;
      line-height: 20px;
    }
    .emlbtnDiv>button{
      margin-top: 0px;
      width: auto;
      flex-shrink: 0;
    }
    .contact-us{
      grid-column: span 1 / span 1;
      
    }
  }

  /* max-sm: */
  @media (max-width: 639px){
    .form {
      width: 20em;
    }

  }

/* lg: */
  @media (min-width: 1024px) {
    .containerMain {
      padding-left: 80px; 
      padding-right: 80px; 
    }
    .containerMainChild {
      display: flex;
      align-items: flex-start;
      gap: 32px;
    }
    .custom-grid {
      margin-top: 0; 
      grid-template-columns: repeat(3, 1fr); 
      gap: 4rem 0; 
    }
    .form-con {
      display: flex;
      align-items: flex-end;
    }
  }

  @media (min-width: 1024px) { 
    .my_custom_class {
      display: flex;
      align-items: flex-start;
      gap: 2rem; 
    }
  }

